/* 
  Signiture color : #3BD1B3
  light tone: #c2f1e8
  super light tone: #effffb
  dark tone: #307e6e
*/


.container{
  margin: 10px;
  border-radius: 5px;
  border-left: 1px solid #c2f1e8;
  border-top: 1px solid #c2f1e8;
  border-right: 1px solid #c2f1e8;
  border-bottom: 5px solid #3BD1B3;
  background-color: #effffb;
  font-weight: bold;
  color: #307e6e;
  padding: 5px;
}

.container:hover {
  background-color: #3BD1B3;
  color: #fff;

}

.container:active {
  background-color: #3BD1B3;
  color: #fff;
}