.container{

  height: 800px;
}
.Navigation_container{
  height:100px;
  text-align: center;
}

.Product_container {
  height: 600px;
  background-color: gray;
}
.Product_image{

}
.Product_apply_button{
  width: 40%;
  height: 100px;
}