.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.Navigation_container{
  width:100%;
  height:50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Product_container {
  width:100%;
  height: 100%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.Product_userdata_container{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
}
.Product_userdata{
  display: inline;
  margin: 0 10px;
}
.Product_title{
  margin:0;
}
.Product_content_container{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Product_image_container{
  width: 80%;
  height: 85%;
  background-color: aliceblue;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* .Product_image{

} */
.Product_apply_button{
  width: 80%;
  height: 50px;
  border-radius: 15px;
  border: none;
}