/* 
  Signiture color : #3BD1B3
  light tone: #c2f1e8
  super light tone: #effffb
  dark tone: #307e6e
*/

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.Navigation_container{
  width:100%;
  height:7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #effffb;
}
.Navigation_logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #3BD1B3;
  margin-left: 15px;  
  height:100%;
}
.Navigation_logotxt{
  margin:0px;
  margin-left: 10px;
  font-size: 1.75rem;
  font-family: 'Bungee', cursive;
}
.Navigation_menu{
  margin-right: 10px;
  height: 100%;
  color: #3BD1B3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navigation_userdata_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5px;
  border-bottom: 3px dashed #c2f1e8;
  color: #307e6e;
  background-color: #effffb;
  
  font-weight: bold;
}

.Navigation_userdata {
  display: inline;
  margin: 5px 5px 0px 0px;
}

.Product_container {
  
  width:100%;
  height: 70vh;
  background-color: #effffb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

.Product_title{
  margin:0;
  font-size: 1.2rem;
  text-align: center;

}
.Product_content_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Product_image_container{
  width: 80%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  border-left: 1px dashed #c2f1e8;
  border-top: 1px dashed #c2f1e8;
  border-right: 7px solid #c2f1e8;
  border-bottom: 7px solid #c2f1e8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.Product_productdata_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 2px dashed #3BD1B3;

}
.Product_urgent{
  border-radius: 20px;
  background-color: red;
  width: 22%;
  height: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Product_apply_button{
  width: 80%;
  height: 15%;
  border-radius: 15px;
  border: none;
  margin: 7% 0px;
  border-left: 1px dashed #c2f1e8;
  border-top: 1px dashed #c2f1e8;
  border-right: 7px solid #c2f1e8;
  border-bottom: 7px solid #c2f1e8;
  background-color: #fff;
  color: #307e6e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.arrow{
  font-size: 2rem;
}
.tickets{
  margin: 0px 10px;
  font-size: 1rem;
  color: #307e6e;
}

.ListExpand_container{
  width:100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.ListExpand_item_container {
  width: 95%;
  background-color: #effffb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12px;
  border: 1px dashed #c2f1e8;
  margin: 5px;
  border-right: 7px solid #c2f1e8;
  border-bottom: 7px solid #c2f1e8;
  

}
.ListExpand_content_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #effffb;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.ListExpand_text_container {
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
}
.ListExpand_title{
  margin: 0px;
}
.ListExpand_urgent{
  border-radius: 3px;
  background-color: red;
  width: 22%;
  height: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ListExpand_applycount{
  border-radius: 3px;
  background-color: #c2f1e8;
  width: 22%;
  height: 20px;
  text-align: center;
  color: #307e6e;
  font-weight: bold;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:5px;
}
.ListExpand_apply:hover{
  background-color: #3BD1B3;
}
.ListExpand_apply:active {
  background-color: #3BD1B3;
}
.ListExpand_apply{
  width: 90%;
  height:100%;
  padding: 10px 0px; 
  border-radius: 5px;
  border:none;
  border-left: 1px solid #c2f1e8;
  border-top: 1px solid #c2f1e8;
  border-right: 5px solid #c2f1e8;
  
  border-bottom: 5px solid #c2f1e8;
  background-color: #fff;
  color: #307e6e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ListExpand_apply_done{
  width: 100%;
  height:100%;
  padding: 10px 0px;
  border-radius: 5px;
  border: none;
  color: #307e6e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 216, 216);
}
.ListExpand_ButtonContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu{
  font-size: 1.7rem;
  color: #307e6e;
}
.nav_tickets{
  font-size: 1rem;
  margin-right: 7px;
}